$color-abbey: #48484A;
$color-black: #000000;
$color-black-transparent: rgba(0, 0, 0, 0.3);
$color-burnt-sienna: #EC6E4C;
$color-white: #FFFFFF;
$color-firebrick: #D93025;
$color-grey: #DDDDDD;
$color-mercury: #E6E6E6;
